body {
  color: #333;
  text-shadow: none;
  font-family: "a펜고딕M";
  text-align: center;
}
.masthead {
  margin-bottom: 0.5rem;
  font-weight: 650;
  font-family: "a장미다방";
  color: #102E4C;
  text-align: center;
  font-size: 330%;
}

#conf,
#checkinfo{
  color: #fff;
  text-shadow: none;
  font-size: 140%;
  background-color: #102E4C;
  border: #102E4C;
}
.cover-heading{
  font-size: 250%;
  font-weight: 300;
}

#icon {
  margin: 1rem;
  width: 40%;
  height: 40%;
  align-self: auto;
}
#logo {
  width: 30%;
  height: 85%;
  float:left;
}
nav {
  border: 1em solid #234C6C;
  background-color: #D0E2F3;
  border
}
.card-body {
  border : 1.5px solid #102E4C;
  padding : 1.5em;
  margin : 0.5em;
}
.card-title {
  font-weight: 300;
  font-size: 150%;
}
.card-text {
  font-size: 120%;
}
