@font-face {
  font-family: a펜고딕M;
  src: url("font/a펜고딕M.ttf");
  font-weight: bold;
}

@font-face {
  font-family: a장미다방;
  src: url("font/a장미다방.ttf");
  font-weight: bold;
}

.lh-condensed { line-height: 1.25; }

body {
  color:#333;
  text-shadow: none;
}

.lead{
  font-size: 120%;
  font-family: "a펜고딕M";
}

.masthead {
  margin-bottom: 2rem;
  font-weight: 500;
  font-family: "a장미다방";
  font-size: auto;
  padding:2.5rem;
  color: #102E4C;
  text-align: center;
}
#logo {
  width: 25%;
  height: 25%;
  float:left;
}

#head {
  border-bottom: 1em solid #D0E2F3;
  background-color: #D0E2F3;
}
#info {
  font-family: "a펜고딕M";
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 0.75rem;
  text-align: center;
}

.nav-underline .nav-link {
  font-family: "a펜고딕M";
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 2.3rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #84CBDD;
}
.nav-scroller {
  position: relative;
  z-index: 2;
}
.nav-underline .active {
  font-weight: 500;
  color: #398DA7;
}
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0.5rem;
  margin-top: -1px;
  overflow-x: auto;
  color: #234C6C;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
label{
  font-size: 120%;
  text-align: left;
  font-family: "a장미다방";
  padding-top: 1rem;
  padding-right: 1rem;
}
.form-control{
  padding-bottom: 1rem;
}

#id_complete_button {
  color: #fff;
  text-shadow: none;
  font-size: 100%;
  background-color: #102E4C;
  border: #102E4C;
  align-content: center;
  align: center;
  width:70%;
}
